<ul class = "navBar" style="text-align: center;color:white">
  <li><a [routerLink]="['/']" href='/'>Home_Page</a></li>
  <li><a [routerLink]="['GameCreation']">GCP</a></li>
  <li><a [routerLink]="['PlayerCreation']">PCP</a></li>
  <li><a [routerLink]="['WaitingLobby']">WL</a></li>
  <li><a [routerLink]="['GameState']">GS</a></li>
  <li style="float:right"><div style='padding:13px'>Developer_Bar</div></li>
</ul>

<router-outlet></router-outlet>

<footer>
    <a [routerLink]="['/']">Home</a>
</footer>