<ul class = "navBar" style="text-align: center;color:white">
  <li><a href='/'>Home_Page</a></li>
  <li><a href='GameCreation'>GCP</a></li>
  <li><a href='PlayerCreation'>PCP</a></li>
  <li><a href='WaitingLobby'>WL</a></li>
  <li><a href='GameState'>GS</a></li>
  <!-- <li><div class='divButton' onclick="checkLocalLog()">checkLocalLog</div></li> -->
  <li style="float:right"><div style='padding:13px'>Developer_Bar</div></li>
</ul>

<router-outlet></router-outlet>

<footer>
    <a href='/'>Home</a>
</footer>