<h1>
  User Details
  <br/>
</h1>
<div style= 'text-align: center;color:white'>
  Your Name
  <input type ="text" id ='playerName'>
  Commander's Name
  <input type = 'text' id = 'commanderName'>
  E-Mail:
  <input type = 'text' id = 'playerEmail'>
  Password
  <input type = 'text' id = 'playerPass'>
  <input type= 'checkbox' id ='partnerBool' name = 'partner' value ='false'> Partner?
  <div id='root'></div>
  <div id='cP' class = 'divButton'>Create Yourself!</div>
  <div id='joinLink'></div>
</div>